:root {
--background:#0F1B3D;
--background--card: #1E2D69;
--color--logo: #FFFFFF;
--color--p: #DBD9FF;

--gradient:linear-gradient(500deg, #FFA197, #FF4A95);
  /* Variables CSS */
}

/* Variables SASS */
